.button{
    width: 100%;;
    padding: 20px;
    font-size: 15px;
    color: black;
    border: 1px gray solid;
    transition: background-color 0.3s ease-in-out;
}

.fillorange{
    background-color: orange;
    color: white;
}

.fillgreen{
    background-color: green;
    color: white;
}